In [1]:
import pandas as pd
import requests

In [2]:
url="https://api.census.gov/data/2019/pep/charagegroups?"

In [3]:
query_url=url+ "get=NAME,POP&for=county:*&in=state:12&AGEGROUP=026"
results_cols=["County, State","Population","Age Group","State Code","County Code"]

In [4]:
results=requests.get(query_url).json()

In [5]:
results

[['NAME', 'POP', 'AGEGROUP', 'state', 'county'],
 ['Washington County, Florida', '4380', '26', '12', '133'],
 ['Duval County, Florida', '138594', '26', '12', '031'],
 ['Bradford County, Florida', '5064', '26', '12', '007'],
 ['Dixie County, Florida', '3984', '26', '12', '029'],
 ['Escambia County, Florida', '54571', '26', '12', '033'],
 ['Hillsborough County, Florida', '214035', '26', '12', '057'],
 ['Taylor County, Florida', '4525', '26', '12', '123'],
 ['Brevard County, Florida', '145752', '26', '12', '009'],
 ['Broward County, Florida', '334596', '26', '12', '011'],
 ['Clay County, Florida', '35844', '26', '12', '019'],
 ['Citrus County, Florida', '54938', '26', '12', '017'],
 ['Lafayette County, Florida', '1455', '26', '12', '067'],
 ['Lake County, Florida', '99386', '26', '12', '069'],
 ['Lee County, Florida', '224632', '26', '12', '071'],
 ['Nassau County, Florida', '20231', '26', '12', '089'],
 ['Pinellas County, Florida', '247630', '26', '12', '103'],
 ['Polk County, Florida', '148168', '26', '12', '105'],
 ['Putnam County, Florida', '17675', '26', '12', '107'],
 ['St. Lucie County, Florida', '80928', '26', '12', '111'],
 ['St. Johns County, Florida', '54654', '26', '12', '109'],
 ['Glades County, Florida', '3808', '26', '12', '043'],
 ['Gulf County, Florida', '3614', '26', '12', '045'],
 ['Hendry County, Florida', '5779', '26', '12', '051'],
 ['Hardee County, Florida', '4695', '26', '12', '049'],
 ['Indian River County, Florida', '54133', '26', '12', '061'],
 ['Holmes County, Florida', '3921', '26', '12', '059'],
 ['Jackson County, Florida', '9570', '26', '12', '063'],
 ['Jefferson County, Florida', '3511', '26', '12', '065'],
 ['Palm Beach County, Florida', '364544', '26', '12', '099'],
 ['Pasco County, Florida', '125451', '26', '12', '101'],
 ['Seminole County, Florida', '75401', '26', '12', '117'],
 ['Sarasota County, Florida', '161948', '26', '12', '115'],
 ['Miami-Dade County, Florida', '452607', '26', '12', '086'],
 ['Monroe County, Florida', '17628', '26', '12', '087'],
 ['Bay County, Florida', '32535', '26', '12', '005'],
 ['Baker County, Florida', '4117', '26', '12', '003'],
 ['Flagler County, Florida', '35896', '26', '12', '035'],
 ['Franklin County, Florida', '2926', '26', '12', '037'],
 ['Hamilton County, Florida', '2664', '26', '12', '047'],
 ['Liberty County, Florida', '1256', '26', '12', '077'],
 ['Madison County, Florida', '3902', '26', '12', '079'],
 ['Osceola County, Florida', '50781', '26', '12', '097'],
 ['Orange County, Florida', '171557', '26', '12', '095'],
 ['Sumter County, Florida', '77034', '26', '12', '119'],
 ['Suwannee County, Florida', '9650', '26', '12', '121'],
 ['Walton County, Florida', '14977', '26', '12', '131'],
 ['Wakulla County, Florida', '5366', '26', '12', '129'],
 ['Gadsden County, Florida', '8540', '26', '12', '039'],
 ['Gilchrist County, Florida', '3838', '26', '12', '041'],
 ['Marion County, Florida', '106675', '26', '12', '083'],
 ['Martin County, Florida', '50760', '26', '12', '085'],
 ['Collier County, Florida', '126707', '26', '12', '021'],
 ['Okeechobee County, Florida', '8482', '26', '12', '093'],
 ['Okaloosa County, Florida', '34376', '26', '12', '091'],
 ['Highlands County, Florida', '38289', '26', '12', '055'],
 ['Hernando County, Florida', '53348', '26', '12', '053'],
 ['Alachua County, Florida', '39272', '26', '12', '001'],
 ['DeSoto County, Florida', '8558', '26', '12', '027'],
 ['Columbia County, Florida', '13809', '26', '12', '023'],
 ['Calhoun County, Florida', '2670', '26', '12', '013'],
 ['Charlotte County, Florida', '77072', '26', '12', '015'],
 ['Union County, Florida', '2317', '26', '12', '125'],
 ['Volusia County, Florida', '137811', '26', '12', '127'],
 ['Manatee County, Florida', '113157', '26', '12', '081'],
 ['Levy County, Florida', '10436', '26', '12', '075'],
 ['Leon County, Florida', '40786', '26', '12', '073'],
 ['Santa Rosa County, Florida', '30121', '26', '12', '113']]

In [6]:
df=pd.DataFrame(results,columns=results_cols)
df. columns=df. iloc[0]
df=df.tail(-1)
df

0                         NAME     POP AGEGROUP state county
1   Washington County, Florida    4380       26    12    133
2        Duval County, Florida  138594       26    12    031
3     Bradford County, Florida    5064       26    12    007
4        Dixie County, Florida    3984       26    12    029
5     Escambia County, Florida   54571       26    12    033
..                         ...     ...      ...   ...    ...
63     Volusia County, Florida  137811       26    12    127
64     Manatee County, Florida  113157       26    12    081
65        Levy County, Florida   10436       26    12    075
66        Leon County, Florida   40786       26    12    073
67  Santa Rosa County, Florida   30121       26    12    113

[67 rows x 5 columns]

In [7]:
#lambda to split name and remove the county.
df[['County','State']]=df['NAME'].str.split(', ',expand=True)
df.drop(columns=['NAME'],inplace=True)
df=df.rename(columns={'county':'County_ID','POP':'Population','state':'State_ID'})

In [11]:
county_table=df[['County_ID','County']]
state_table=df[['State_ID','State']]
county_table

0  County_ID             County
1        133  Washington County
2        031       Duval County
3        007    Bradford County
4        029       Dixie County
5        033    Escambia County
..       ...                ...
63       127     Volusia County
64       081     Manatee County
65       075        Levy County
66       073        Leon County
67       113  Santa Rosa County

[67 rows x 2 columns]